<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="/public/scripts.js" type="text/javascript" defer></script>
    <link rel="stylesheet" href="/public/styles.css">
</head>
<body>
    <div class="container">
        <h2>Short link:</h2> <a href="/<%= url %>"><span id="link"><%= url %></span></a> 
        <button onclick="copyLink()">Copy text</button>
        <span id="msg"></span>
    </div>
</body>
</html>